language: rust
sudo: false

cache:
    directories:
        - target

script:
    - cargo build --features nightly
    - cargo test --features nightly
    - cargo bench --features nightly

after_success: |
    [ $TRAVIS_BRANCH = master ] &&
    [ $TRAVIS_PULL_REQUEST = false ] &&
    cargo doc --features nightly &&
    echo '<meta http-equiv=refresh content=0;url=hyper/index.html>' > target/doc/index.html &&
    git shortlog -s -n | cut -c 8- > target/doc/humans.txt &&
    pip install --user ghp-import &&
    /home/travis/.local/bin/ghp-import -n target/doc &&
    git push -fq https://${TOKEN}@github.com/${TRAVIS_REPO_SLUG}.git gh-pages

env:
    global:
        - secure: kHuPGsSt14Y7TTy+4NeNMQ4yhENXm38OM26G0ZER870QVOQH8cBZk9a9jgA36F8CGkGAMkFJ5lQw5RginQX01zaCev765XqCF8VvToXq9n/Vg8+oxR5LepC1ybY06yd7AuW/znB6cnQ8BB8HJK5FvZJ1PqH+yubzyyada8c/sVQ=
