[package]

name = "hyper"
version = "0.11.6" # don't forget to update html_root_url
description = "A modern HTTP library."
readme = "README.md"
homepage = "https://hyper.rs"
documentation = "https://docs.rs/hyper"
repository = "https://github.com/hyperium/hyper"
license = "MIT"
authors = ["Sean McArthur <sean@seanmonstar.com>"]
keywords = ["http", "hyper", "hyperium"]
categories = ["network-programming", "web-programming::http-client", "web-programming::http-server"]

include = [
  "Cargo.toml",
  "LICENSE",
  "src/**/*"
]

[dependencies]
base64 = "0.6"
bytes = "0.4.4"
futures = "0.1.14"
futures-cpupool = "0.1.6"
http = { version = "0.1", optional = true }
httparse = "1.0"
language-tags = "0.2"
log = "0.3"
mime = "0.3.2"
percent-encoding = "1.0"
relay = "0.1"
time = "0.1"
tokio-core = "0.1.6"
tokio-proto = "0.1"
tokio-service = "0.1"
tokio-io = "0.1"
unicase = "2.0"

[dev-dependencies]
num_cpus = "1.0"
pretty_env_logger = "0.1"
spmc = "0.2"

[features]
default = ["server-proto"]
nightly = []
raw_status = []
compat = [ "http" ]
server-proto = []
