@import url('../rustdoc.css');
@import url('../main.css');

h1 {
    margin-top: 50px;
}

h2 {
    color: #555;
    margin-top: 30px;
}

p {
    margin-bottom: 1.2em;
}

p a, #toc a {
    color: #3873AD;
}

p a:hover, #toc a:hover {
    text-decoration: underline;
}

